article {
	border: solid 1px lightblue;
	border-radius: 1em;
	margin: 1em;
	padding: .5em;
	width:30%;
	height: 70%;
	box-sizing: border-box;
}

.card1,
.card2,
.card3 {
	float:left;
}

h2 {
	border: dotted 1px lightgrey;
	text-align: center;
}

img {
	margin: 1em auto;
	display: block;
	overflow: hidden;
	width: 80%;
	height: 125px;
}

.desc {
	text-align: justify;
}

.boldtxt {
	font-weight: bold;
}

.avail {
	width: 100%;
	background-color: darkgrey;
	color: yellow;
	margin-top: 1em;
}

h4 {
	margin: 0;
}

.clear {
	clear: both;
}